
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    height: 60px;
    background-color: #A3E4D7;
    padding-top: 2px;
    opacity: 1;
}

.btn {
    height: 60px;
    background-color: #A3E4D7;
    opacity: 1;
    width:1000px;
}

.login {
    background-color: blanchedalmond;
    color: brown;
    position: relative;
    font-size: 24px;
    margin-left:400px;
    top: 25%;
    left: 47%;
}

.hero-image {
    background-image: url("/assets/lib3.jpeg");
    opacity: 0.7;
    background-color: #cccccc;
    height: 520px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.text {
    position: absolute;
    top: 30%;
    left: 40%;
    font-family: cursive;
}