/* .option1{
  background-color: "'evaluate(attempt.choices[0], attempt.answer)'";
}
.option2{
  background-color: "'evaluate(attempt.choices[0], attempt.answer)'";
}
.option3{
  background-color: "'evaluate(attempt.choices[0], attempt.answer)'";
}
.option4{
  background-color: "'evaluate(attempt.choices[0], attempt.answer)'";
} */

.red{
  background-color: red;
}
.green{
  background-color:green; 
}
.yellow{
background-color: yellow;
}
