<div class="medium-list">
    <div class="list-viewer-wrapper">
        <div class="list-header-title">
            <h2>Register</h2>
        </div>


<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" >
   <div class="form-container">
       <mat-form-field>
            <input id="id"
                    matInput
                    formControlName="id"
                    [(ngModel)]="employee.id" 
                    placeholder="Enter your Employee id"
                    type="text" />

       </mat-form-field>

        <mat-form-field>
            <input id="name"
                matInput
                formControlName="name"
                [(ngModel)]="employee.name" 
                placeholder="Enter your Name"
                type="text" />

        </mat-form-field>

   <mat-form-field>
    <input id="emailId"
            matInput
            formControlName="emailId"
            [(ngModel)]="employee.emailId" 
            placeholder="Enter your Email Id"
            type="email" />

   </mat-form-field>

   <mat-form-field>
    <input id="company"
            matInput
            formControlName="company"
            [(ngModel)]="employee.company" 
            placeholder="Enter your Company name"
            type="text" />

   </mat-form-field>

   <mat-form-field>
    <input id="designation"
            matInput
            formControlName="designation"
            [(ngModel)]="employee.designation" 
            placeholder="Enter your Designation"
            type="text" />

   </mat-form-field>

   <mat-form-field>
    <input id="phoneNo"
            matInput
            formControlName="phoneNo"
            [(ngModel)]="employee.phoneNo" 
            placeholder="Enter your Phone No."
            type="text" />

   </mat-form-field>
   <button mat-button type="submit" routerLink="/test-instructions" class="mat-raised-button mat-primary" >Submit</button>
   </div>
</form>
    </div>
</div>
