<div style="font-size: 15px;">
    <header id="header" class="header">
        <div class="navback">
            <div class="container">
                <div class="navbar-header">
                    <!-- Logo -->
                    <div class="navbar-brand">
                        <a class="logo" href="#">
                            <img src="../assets/img/logo-3.png" alt="logo">
                        </a>
                    </div>
                    <!-- /Logo -->
                    <!-- Mobile toggle -->
                    <button class="navbar-toggle">
          <span></span>
        </button>
                    <!-- /Mobile toggle -->
                </div>
                <!-- Navigation -->
                <div>
                    <nav id="" class="">
                        <ul class="main-menu nav  navbar-right">
                            <li><a href="#home">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#contact">Contact</a></li>
                            <li><a routerLink="/auth/login">Login</a></li>
                            <li><a routerLink="/auth/register">Register</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- /Navigation -->
            </div>
        </div>
    </header>
    <!-- Home -->
    <div id="home" class="hero-area">

        <!-- Backgound Image -->
        <div class="bg-image bg-parallax overlay" style="background-image:url(../../assets/img/home-background.jpg)"></div>
        <!-- /Backgound Image -->

        <div class="home-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h1 class="white-text">We provide a platform for online quizes</h1>
                        <h3 class="lead white-text">Knowledge is power. Want to test yours? Login and take a quiz with us.</h3>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Home -->
    <!-- About -->
    <div id="about" class="section">

        <!-- container -->
        <div class="container">

            <!-- row -->
            <div class="row">

                <div class="col-md-6">
                    <div class="section-header">
                        <h2>Welcome to Quizo</h2>
                        <p class="lead">Online Quiz Platform.</p>
                    </div>

                    <!-- feature -->
                    <div class="feature">
                        <i class="feature-icon fa fa-flask"></i>
                        <div class="feature-content">
                            <h4>Online Quizes </h4>
                            <p>Create or take online quizes.</p>
                        </div>
                    </div>
                    <!-- /feature -->

                    <!-- feature -->
                    <div class="feature">
                        <i class="feature-icon fa fa-users"></i>
                        <div class="feature-content">
                            <h4>Autogeneration</h4>
                            <p>Got no time to set a quiz?
                                <br>Quizo will do this job for you.<br> All you need to do is feed your quiz topic.
                            </p>
                        </div>
                    </div>
                    <!-- /feature -->

                    <!-- feature -->
                    <div class="feature">
                        <i class="feature-icon fa fa-comments"></i>
                        <div class="feature-content">
                            <h4>Community</h4>
                            <p>Our users are HRs of various companies, who can create quizes and employees who can take these quizes. </p>
                        </div>
                    </div>
                    <!-- /feature -->

                </div>

                <div class="col-md-6">
                    <div class="about-img">
                        <img src="../../assets/img/about.png" alt="">
                    </div>
                </div>

            </div>
            <!-- row -->

        </div>
        <div style="margin-bottom: -100px"></div>
    </div>
    <!-- /About -->
    <!-- Why us -->

    <!-- /row -->

    <hr class="section-hr">

    <!-- row -->

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Persius imperdiet incorrupte et qui, munere nusquam et nec.</h3>
                <p class="lead">Libris vivendo eloquentiam ex ius, nec id splendide abhorreant.</p>
                <p>No vel facete sententiae, quodsi dolores no quo, pri ex tamquam interesset necessitatibus. Te denique cotidieque delicatissimi sed. Eu doming epicurei duo. Sit ea perfecto deseruisse theophrastus. At sed malis hendrerit, elitr deseruisse
                    in sit, sit ei facilisi mediocrem.</p>
            </div>

            <div class="col-md-5 col-md-offset-1">
                <a class="about-video" href="#">
                    <img src="../../assets/img/about-video.jpg" alt="">
                    <i class="play-icon fa fa-play"></i>
                </a>
            </div>


            <!-- /row -->


            <!-- /Why us -->

            <section class="py-5" id="team">
                <div class="container">
                    <div class="wow fadeIn">
                        <h2 class="h1 pt-5 pb-3 text-center">Our team members</h2>
                        <p class="lead">
                            The strength of the team is each individual member. The strength of each member is the team.
                        </p>
                    </div>
                    <div class="row mb-lg-4 center-on-small-only">
                        <div class="col-lg-6 col-md-12 mb-r wow fadeInLeft" data-wow-delay=".3s">
                            <div class="col-md-6 float-left"><img class="img-fluid rounded z-depth-1 mb-3" src="../assets/img/emp-1.jpg" alt="team member" /></div>
                            <div class="col-md-6 float-right">
                                <div class="h4">Renu</div>
                                <h6 class="font-bold blue-grey-text mb-4">Lead Designer</h6>
                                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.
                                </p><a href="https://twitter.com" target="_blank"><i class="fa fa-twitter"></i><span
                    class="ml-1">@nicolewest</span></a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 mb-r wow fadeInRight" data-wow-delay=".3s">
                            <div class="col-md-6 float-left"><img class="img-fluid rounded z-depth-1 mb-3" src="../assets/img/emp-2.jpg" alt="team member" /></div>
                            <div class="col-md-6 float-right">
                                <div class="h4">Shikhar</div>
                                <h6 class="font-bold blue-grey-text mb-4">Photographer</h6>
                                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.
                                </p><a href="https://twitter.com" target="_blank"><i class="fa fa-twitter"></i><span
                    class="ml-1">@hannahcruz</span></a>
                            </div>
                        </div>

                    </div>
                    <hr>
                    <div class="row center-on-small-only">
                        <div class="col-lg-6 col-md-12 mb-r wow fadeInLeft" data-wow-delay=".3s">
                            <div class="col-md-6 float-left"><img class="img-fluid rounded z-depth-1 mb-3" src="../assets/img/emp-3.jpg" alt="team member" /></div>
                            <div class="col-md-6 float-right">
                                <div class="h4">Saumen</div>
                                <h6 class="font-bold blue-grey-text mb-4">Web Developer</h6>
                                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.
                                </p><a href="https://twitter.com" target="_blank"><i class="fa fa-twitter"></i><span
                    class="ml-1">@markhall</span></a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 mb-r wow fadeInRight" data-wow-delay=".3s">
                            <div class="col-md-6 float-left"><img class="img-fluid rounded z-depth-1 mb-3" src="../assets/img/emp-4.jpg" alt="team member" /></div>
                            <div class="col-md-6 float-right">
                                <div class="h4">Pranjal</div>
                                <h6 class="font-bold blue-grey-text mb-4">Web Developer</h6>
                                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.
                                </p><a href="https://twitter.com" target="_blank"><i class="fa fa-twitter"></i><span
                    class="ml-1">@vincentharris</span></a>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row center-on-small-only">
                        <div class="col-lg-6 col-md-12 mb-r wow fadeInLeft" data-wow-delay=".3s">
                            <div class="col-md-6 float-left"><img class="img-fluid rounded z-depth-1 mb-3" src="../assets/img/emp-5.jpg" alt="team member" /></div>
                            <div class="col-md-6 float-right">
                                <div class="h4">Pankaj</div>
                                <h6 class="font-bold blue-grey-text mb-4">Web Developer</h6>
                                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.
                                </p><a href="https://twitter.com" target="_blank"><i class="fa fa-twitter"></i><span
                    class="ml-1">@markhall</span></a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 mb-r wow fadeInRight" data-wow-delay=".3s">
                            <div class="col-md-6 float-left"><img class="img-fluid rounded z-depth-1 mb-3" src="../assets/img/emp-6.jpg" alt="team member" /></div>
                            <div class="col-md-6 float-right">
                                <div class="h4">Aayush</div>
                                <h6 class="font-bold blue-grey-text mb-4">Web Developer</h6>
                                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.
                                </p><a href="https://twitter.com" target="_blank"><i class="fa fa-twitter"></i><span
                    class="ml-1">@vincentharris</span></a>
                            </div>
                        </div>

                    </div>
                    <hr>
                    <div class="row center-on-small-only">
                        <div class="col-lg-6 col-md-12 mb-r wow fadeInLeft" data-wow-delay=".3s">
                            <div class="col-md-6 float-left"><img class="img-fluid rounded z-depth-1 mb-3" src="../assets/img/emp-3.jpg" alt="team member" /></div>
                            <div class="col-md-6 float-right">
                                <div class="h4">Mark Hall</div>
                                <h6 class="font-bold blue-grey-text mb-4">Web Developer</h6>
                                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.
                                </p><a href="https://twitter.com" target="_blank"><i class="fa fa-twitter"></i><span
                    class="ml-1">@markhall</span></a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 mb-r wow fadeInRight" data-wow-delay=".3s">
                            <div class="col-md-6 float-left"><img class="img-fluid rounded z-depth-1 mb-3" src="../assets/img/emp-4.jpg" alt="team member" /></div>
                            <div class="col-md-6 float-right">
                                <div class="h4">Vincent Harris</div>
                                <h6 class="font-bold blue-grey-text mb-4">Web Developer</h6>
                                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.
                                </p><a href="https://twitter.com" target="_blank"><i class="fa fa-twitter"></i><span
                    class="ml-1">@vincentharris</span></a>
                            </div>
                        </div>

                    </div>
                    <hr>
                </div>
            </section>


            <div style="margin-bottom: -90px"></div>
            <!-- Contact -->
            <div id="contact" class="section">

                <!-- container -->
                <div class="container">

                    <!-- row -->
                    <div class="row">

                        <!-- contact form -->
                        <div class="col-md-6">
                            <div class="contact-form">
                                <h4>Send A Message</h4>
                                <form>
                                    <input class="input" type="text" name="name" placeholder="Name">
                                    <input class="input" type="email" name="email" placeholder="Email">
                                    <input class="input" type="text" name="subject" placeholder="Subject">
                                    <textarea class="input" name="message" placeholder="Enter your Message"></textarea>
                                    <button class="main-button icon-button pull-right">Send Message</button>
                                </form>
                            </div>
                        </div>
                        <!-- /contact form -->

                        <!-- contact information -->
                        <div class="col-md-5 col-md-offset-1">
                            <h4>Contact Information</h4>
                            <ul class="contact-details">
                                <li><i class="fa fa-envelope"></i>quizo123@gmail.com</li>
                                <li><i class="fa fa-phone"></i>122-547-223-45</li>
                                <li><i class="fa fa-map-marker"></i>4476 Clement Street</li>
                                <li>
                                    <div class="mapouter">
                                        <div class="gmap_canvas"><iframe width="250" height="250" id="gmap_canvas" src="https://maps.google.com/maps?q=stackroute&t=&z=11&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.org">google map two place embed</a></div>
                                        <style>
                                            .mapouter {
                                                position: relative;
                                                text-align: right;
                                                height: 250px;
                                                width: 250px;
                                            }
                                            
                                            .gmap_canvas {
                                                overflow: hidden;
                                                background: none!important;
                                                height: 250px;
                                                width: 250px;
                                            }
                                        </style>
                                    </div>
                                </li>
                            </ul>

                        </div>
                        <!-- contact information -->

                    </div>
                </div>
            </div>
        </div>

        <div style="margin-bottom: -90px"></div>
        <footer>
            <div class="container">
                <div id="bottom-footer" class="row">
                    <div class="col-md-4 col-md-push-8">
                        <ul class="footer-social">
                            <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="youtube"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-8 col-md-pull-4">
                        <div class="footer-copyright">
                            <span>&copy; Copyright 2019. All Rights Reserved.<i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                                      href="https://colorlib.com">Quizo</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>