<app-header>
</app-header>


<section class="sample-app-content">
    <h1 style="font-size: 20px;">User details form:</h1>
    <form [formGroup]="detailsForm">

        <table align="center">
            <tr>
                <td><label>Name:</label></td>
                <td><input type="text" formControlName="name" placeholder="Enter name..."></td>
            </tr>
            <tr>
                <td><label>Phone:</label></td>
                <td><input type="text" formControlName="phone" placeholder="Enter phone..."></td>
            </tr>
            <tr>
                    <td><label>Gender:</label></td>
                    <td>
                        <select formControlName="gender">
                            <option value="" disabled>Enter here...</option>
                            <option value="female">Female</option>
                            <option value="male">Male</option>
                            <option value="others">Others</option>
                        </select>
                    </td>
                </tr>
            <tr>
                <td><label>Email:</label></td>
                <td><input type="text" formControlName="email" placeholder="Enter email..."></td>
            </tr>
            <tr>
                <td><label>Role:</label></td>
                <td>
                    <select formControlName="role">
                        <option value="HRM">HRM</option>
                        <option value="EMP">EMP</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label>Designation:</label></td>
                <td><input type="text" formControlName="designation" placeholder="Enter designation..."></td>
            </tr>
            <tr>
                    <td><label>Address:</label></td>
                    <td><input type="text" formControlName="address" placeholder="Enter address..."></td>
                </tr>
        </table>

        
        <button class="button" mat-raised-button color="primary" (click)="openDialog(detailsForm.value)" [disabled]="!detailsForm.valid">Enter login details</button>
        
    </form>
</section>

<!-- <app-footer></app-footer> -->