<app-header>
</app-header>

<h3>
    Enter Employee details
</h3>


<section class="sample-app-content">
    <h2>User details form:</h2>
    <form [formGroup]="detailsForm">
        <p>
            <label>First Name:</label>
            <input type="text" formControlName="name">
        </p>
        <p>
            <label>Phone:</label>
            <input type="text" formControlName="phone">
        </p>
        <p>
            <label>Email:</label>
            <input type="text" formControlName="email">
        </p>
        <p>
            <label>Role:</label>
            <mat-select formControlName="role">
                <mat-option value="HRM">HRM</mat-option>
                <mat-option value="EMP">EMP</mat-option>
            </mat-select>
        </p>
        <p>
            <label>Designation:</label>
            <input type="text" formControlName="designation">
        </p>


        <button class="button" mat-raised-button color="primary" (click)="openDialog(detailsForm.value)" [disabled]="!detailsForm.valid">Enter login details</button>

    </form>
</section>

<app-footer></app-footer>