<app-header>
</app-header>


<section class="sample-app-content">
    <h1 style="font-size: 20px;">User details form:</h1>
    <form [formGroup]="detailsForm">

        <table align="center">
            <tr>
                <td><label>Name:</label></td>
                <td><input type="text" formControlName="name" placeholder="Enter name..."></td>
            </tr>
            <tr>
                <td><label>Phone:</label></td>
                <td><input type="text" formControlName="phone" placeholder="Enter phone..."></td>
            </tr>
            <tr>
                <td><label>Gender:</label></td>
                <td>
                    <select formControlName="gender">
                            <option value="" disabled>Enter here...</option>
                            <option value="female">Female</option>
                            <option value="male">Male</option>
                            <option value="others">Others</option>
                        </select>
                </td>
            </tr>
            <tr>
                <td><label>Email:</label></td>
                <td><input type="text" formControlName="email" placeholder="Enter email..."></td>
            </tr>
            <tr>
                <td><label>Role:</label></td>
                <td>
                    <select formControlName="role">
                        <option value="HRM">HRM</option>
                        <option value="EMP">EMP</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label>Designation:</label></td>
                <td><input type="text" formControlName="designation" placeholder="Enter designation..."></td>
            </tr>
            <tr>
                <td><label>Address:</label></td>
                <td><input type="text" formControlName="address" placeholder="Enter address..."></td>
            </tr>
        </table>


        <button class="button" mat-raised-button color="primary" (click)="openDialog(detailsForm.value)" [disabled]="!detailsForm.valid">Register User</button>
        <div class="mt-3"><span class="mr-4">OR UPLOAD CSV FILE:</span> <button mat-raised-button color="primary" (click)="fileImportInput.click()">Upload</button><input hidden type="file" #fileImportInput name="File Upload" id="txtFileUpload" (change)="fileChangeListener($event)"
                accept=".csv" />

        </div>

        <div class="text-muted" style="display: inline-flex;margin-top: 10px;">{{selectedFile?.name}}<span><i class="material-icons ml-3" style="display: inline-block;" *ngIf="isFileSelected">check</i></span>
            <span class="text-center"><mat-progress-spinner mode="indeterminate" diameter=20 style="display: inline-block; margin-left: 20px;" *ngIf="isLoading"></mat-progress-spinner></span>
        </div>
        <div> <button class="button" mat-raised-button color="primary" (click)="submitCsv()" *ngIf="isFileSelected">Register Filed Users</button></div>
        <div style="display: flex;">

        </div>
    </form>

</section>

<!-- <app-footer></app-footer> -->