<p>topic works!</p>
<!-- <form [formGroup]="form" (ngSubmit)="goToEmployeeSelection()">
    <li formArrayName="topics" *ngFor="let topic of form.controls.topics.controls; let i = index">
        <input type="checkbox" [formControlName]="i">
        <span> {{topics[i].name}} -----------{{topics[i].id}} </span>
    </li>

    <button>submit</button>
</form> -->

<ul>
    <button *ngFor="let topic of topics" value=topic (click)="selectedTopic(topic)">{{topic.name}}</button>
</ul>

<hr>
<br>
<span (click)="goToEmployeeSelection()">go to employees</span>