<!-- <form (ngSubmit)="submitQuiz()">
    <div *ngFor="let questions of questionList">
        <mat-grid-list cols="5" rowHeight="75px">
            <mat-grid-tile colspan="3" rows=":.5"><label id="questionLabel">{{questions.question}}</label></mat-grid-tile>
            <mat-grid-tile colspan="2" rows=":.5"></mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="5" rowHeight="1:1">
                
                <div class="questionField" *ngFor="let choice of questions.choices" >
                    <mat-radio-group
                    aria-labelledby="questionAnswers"
                    class="questionOptions"
                    [(ngModel)]="answerChoices[questions]" 
                    
                    name={{questions}}> 
                        <mat-radio-button class="questionBtn"  >
                            {{choice}}
                        </mat-radio-button>
                        <div>You selected: {{answerChoices[questions]}}</div>
                    </mat-radio-group>
                </div>
            
                </mat-grid-tile>
            <mat-grid-tile colspan="2"></mat-grid-tile>
        </mat-grid-list>
        
        <mat-divider></mat-divider>

    </div>
    <div>You selected: {{answerChoices[questions]}}</div>

    <mat-grid-list cols="5" rowHeight="100px">
        <mat-grid-tile colspan="4"></mat-grid-tile>
        <mat-grid-tile>
            <button mat-stroked-button id="questionSubmit" type="submit" color="primary">Submit</button>
        </mat-grid-tile>
    </mat-grid-list>
    </form> -->

    <form class="my-form" #userregistrationform="ngForm">
        <mat-card class="example-box" *ngFor="let question of questionList">
          <h3>
            {{ question.question }}
          </h3>
          <br/>
          <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
            <mat-radio-button class="example-radio-button" *ngFor="let choice of question.choices" [value]="choice"
              [(ngModel)]="question.response" name="response" ngDefaultControl>
              {{choice}}
            </mat-radio-button>
          </mat-radio-group>
        </mat-card>
        <div class="container">
        <a routerLink='/thankyou'>
        <button mat-raised-button type="submit" color="primary" (click)="saveResponse(questionList)">Submit</button></a>
        </div>
      </form>