.timerContainer{
 
 padding-top:33px;
 margin-bottom: 0;
}

.timer{
    float:right;
}

.testName{
    padding-top:33px;
}

.actions{
    float:right;
}

.navbar2{
    width:70%;
    margin-left:15%;
    height:100px;
}
.card{
    background-color:#F5F5F5;
}

.question{
    padding-left:10%;
    padding-top:10px;
}
.questionContainer{
    width:70%;
    padding-left:1%;
    margin-left:15%;
}

.button{
    text-align: center;
    display: inline-block;
}
h3{
    font-size: 22px;
}
.custom-control{
    font-size: 17px;
}

