<h1>

    User details for login form:</h1>
<form [formGroup]="data.form">
    <p>
        <label>User Name:</label>
        <input type="text" formControlName="username">
    </p>
    <p>
        <label>Password:</label>
        <input type="text" formControlName="password">
    </p>
    <p>
        <label>Email:</label>
        <input type="text" formControlName="email">
    </p>

    
    <button mat-raised-button [mat-dialog-close]=data.form.value [disabled]="!data.form.valid">Submit</button>
    
</form>