div {
	display:block;
	margin: auto;
	text-align:center;
	padding-top: 14%;
}
div img {
	width: 30%;
	height: 120px;
	margin:5px;
}
.search {
	width: 40%;
	height: 50px;
	border-top: 1px solid #bdbdbd;
	border-bottom: 1px solid #d3d3d3;
	border-right: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;
    border-radius:25px;
	padding-right: 30px;
	font: 16px arial, sans-serif;
	text-indent:35px;
	background-repeat:no-repeat;
	background-position:548px 4px;
	background-size:14px 19px;
	}
.button {
    width:20%;
    height:50px;
	border: 1px solid #d3d3d3;
	background: #f3f3f3;
	color:#696969;
	margin-left:4px;
	margin-right:4px;
	margin-top: 15px;
	font-family: arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 7px;
	border-radius:2px;
}
.button:hover {
	color: #2a2a2a;
	border: 1px solid #bdbdbd;
}
.search:hover {
	border:1px solid #aaaaaa;
}

.lds-dual-ring {
	top:50%;																																																																																																			
	left:50%;																																																																																																																																																																																																																																																																																																																								
	width: 80px;
	height: 60px;
	padding-top:0px;
  }
  .lds-dual-ring:after {
	content: " ";
	padding-top:0px;
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid rgb(32, 106, 204);
	border-color:  rgb(32, 106, 204) transparent;
	animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }

  .title{
	  margin-bottom: 0px;
  }
  .content{
	  padding-top:0px;
  }
  
