<!DOCTYPE html>
<html lang="en">

<head>
    <title>welcome-employee</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container-fluid">
        <h1>HR has set a test for you.</h1>
        <div class="row" style="background-color:beige">
            <div class="col-sm-8">
                <h3>Please take the test (java) before the due date 12/12/2019</h3>
            </div>
            <div class="col-sm-4"><button class="btn" routerLink="/employee/test-instructions">take-test</button></div>
        </div>
    </div>

</body>

</html>