
<div class=mi>              
      <div >
                    <h1>-</h1>
                      
                        <h3>HR has set a test for you.</h3>
                       
                        <h3>Please take the test (java) before the due date 12/12/2019</h3>
                </div>
                <button mat-flat-button routerLink="/employee/test-instructions" color="accent">take-test</button>
            </div>

            
    <!-- <div class="contain" layout-align="center center">
            <h1>HR has set a test for you.</h1>
            <div class="row" style="background-color:beige">
                <div class="col-sm-8">
                    <h3>Please take the test (java) before the due date 12/12/2019</h3>
                </div>
                <div class="col-sm-4" ><button mat-raised-button color="primary" routerLink="/employee/test-instructions">take-test</button></div>
            </div>
       
    </div>
     -->
