<div class="spacing-top">
    <div class="text-center">

        <h1>Instructions</h1>
    </div>
</div>


<div class="container">
    <div>
        <mat-list>
            <mat-list-item> -Please do not refresh the page.</mat-list-item>
            <mat-list-item> -This paper consists of Questions related to some programing language or some framework or some library </mat-list-item>
            <mat-list-item> -The clock will be set by server. The countdown timer in the top of the screen will display the remaining time available for you to complete the question.</mat-list-item>
            <mat-list-item> -When the timer reaches zero, the next question will be displayed on the screen.</mat-list-item>
            <mat-list-item> -You can't go back to a marked question after clicking next.</mat-list-item>
            <mat-list-item> -Once you skip a question you will not be able to go back to that question.</mat-list-item>
            <mat-list-item> -Your score will be displayed in the dashboard </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </div>

    <div class="row m-4">
        <div class="col-md-4">.</div>
        <div class="col-md-4 m-auto text-center">
            <button mat-raised-button color="primary" routerLink="/employee/test-page">Start Test</button>
        </div>
        <div class="col-md-4">.
        </div>
    </div>