<!-- <app-header></app-header> -->
<button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
<div class="icon-det">
    <button mat-icon-button><mat-icon>notifications</mat-icon></button>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_horiz</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon>build</mat-icon>
            <span>Edit Profile</span>
          </button>
        <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>Logout</span>
          </button>
    </mat-menu>
</div>

<mat-sidenav-container class="example-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" opened class="example-sidenav" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
            <img src="assets/img/imgUser.png" alt="UserImg">
            <a mat-list-item routerLink=".">Dash Board</a>
            <a mat-list-item routerLink=".">Analytics</a>
            <a mat-list-item routerLink=".">Tests</a>
            <a mat-list-item routerLink=".">Settings</a>
            <a mat-list-item routerLink=".">Help</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar class="title">User Details:</mat-toolbar>
        
      <form>
          <div class="form-group row">
        <label for="id" class="col-sm-2 col-form-label">Id</label>
        <div class="col-sm-10">
            <input  type="text" readonly class="form-control" [value]="user?.id">
          </div>
        </div>
        <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input id="name" type="text" readonly class="form-control" [value]="user?.name" />
          </div>
        </div>
        <div class="form-group row">
        <label for="role" class="col-sm-2 col-form-label">Role</label>
        <div class="col-sm-10">
            <input id="role" type="text" readonly class="form-control" [value]="user?.role" />
          </div>
        </div>
        <div class="form-group row">
       <label for="phone" class="col-sm-2 col-form-label">Phone</label>
       <div class="col-sm-10">
          <input id="phone" type="number" readonly class="form-control" [value]="user?.phone" />
        </div>
      </div>
        <div class="form-group row">
          <label for="email" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input id="email" type="email" readonly class="form-control" [value]="user?.email">
          </div>
        </div>

        <div class="form-group row">
        <label for="designation" class="col-sm-2 col-form-label">Designation</label>
        <div class="col-sm-10">
            <input id="designation" type="text" readonly class="form-control" [value]="user?.designation" />
          </div>
        </div>
      </form>
      
    </mat-sidenav-content>
</mat-sidenav-container>

<app-footer></app-footer>