
  
  <div class="mat-display-1" >Instructions</div>
  <div class="mi">
  <div>

    <mat-list>
       
      <mat-list-item> -Total duration of examination is 1 hour. </mat-list-item>
      <mat-list-item> -This paper consists of  Questions </mat-list-item>
      <mat-list-item> -The clock will be set by server. The countdown timer in the top right corner of the screen will display the remaining time available for you to complete the exam. When the timer reaches zero, the examination will end by itself. </mat-list-item>
      <mat-list-item> -Positive and Negetive marks assosiacted with the questions are displayed at top-right.</mat-list-item>
      <mat-list-item> -Once you skip a question you will not be able to go back to that question.</mat-list-item>                
      <mat-list-item> -After you have submitted your test, you can check your marked options against the correct answers in the Answers option.  </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </div>

  
  
</div>
<button color="primary" mat-raised-button (click)="ngOnInit()"><a routerLink="/test-page" >start test</a></button>
