
.mat-display-1{
    align-self: center;
    margin-top: 50px;
    margin-left: 530px;
}
.mat-list{
    margin-left: 20px;
}
.mat-raised-button{
    margin-left:600px;
    margin-top:50px;
}
.mi{border-style: double;
border: block width 10px; }

