<h2>
    Type in the Request you have for the admin
</h2>
<form [formGroup]="data.requestForm">
    <mat-form-field class="example-full-width">
        <input matInput maxlength="256" placeholder="Message" formControlName="message">
        <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
        <mat-hint align="end">{{data.requestForm.value.message.length}} / 256</mat-hint>
    </mat-form-field>

    <button mat-raised-button [mat-dialog-close]=data.requestForm.value>Submit</button>

</form>