
.mat-display-1{
    align-self: center;
    margin-top: 50px;
    margin-left: 530px;
}
.emp{
    margin-top: 30px;
    margin-left: 20px;
}
.li{
    margin-left: 20px;
}
.mat-raised-button{
    margin-left:50px;
    margin-top:50px;
}