<app-header>
</app-header>
<div class="mat-display-1">Select Employees

    <mat-progress-spinner class="text-center" mode="indeterminate" *ngIf="isLoading">
    </mat-progress-spinner>
</div>

<div class="container">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <mat-list role='list'>
            <mat-list-item formArrayName="employees" *ngFor="let employee of form.controls.employees.controls; let i = index" class="emp">
                <mat-checkbox formControlName="{{i}}">

                        <div class="card border-dark">
                                <div class="card-body text-dark" >
                                  <p class="card-text">Name: {{employees[i].name}}, Email:{{employees[i].email}}, Phone: {{employees[i].phone}}, Designation: {{employees[i].designation}}</p>
                                </div>
                              </div>
                    <!-- <span> Name: {{employees[i].name}} Email:{{employees[i].email}} Phone: {{employees[i].phone}} Designation: {{employees[i].designation}} </span> -->
                </mat-checkbox>
            </mat-list-item>
        </mat-list>
        <button mat-raised-button color="primary">Submit</button>
    </form>

    <div class="spacing-bottom"></div>
    <hr>

    <div class="spacing-bottom"></div>
    <div class="spacing-bottom"></div>
</div>
<app-footer></app-footer>