.mat-display-1 {
    align-self: center;
    margin-top: 50px;
    margin-left: 530px;
}

.emp {
    margin-top: 10px;
    margin-left: 10px;
    /* background: #fbfbfb; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.li {
    margin-left: 10px;
}

.mat-raised-button {
    margin-left: 50px;
    margin-top: 50px;
}

.spacing-top {
    margin-top: 50px
}

.spacing-bottom {
    margin-bottom: 50px;
}

.mat-checkbox {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.grey-color {
    background-color: grey;
}
.checkbox{
    height:100px;
}
.inner-container{
    height:150px;
}

table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }