<app-header>
</app-header>

<section class="sample-app-content">
    <h1>User details form:</h1>
    <form [formGroup]="detailsForm">

        <table align="center">
            <tr>
                <td><label>Name:</label></td>
                <td><input type="text" formControlName="name" placeholder="Enter name..."></td>
            </tr>
            <tr>
                <td><label>Phone:</label></td>
                <td><input type="text" formControlName="phone" placeholder="Enter phone..."></td>
            </tr>
            <tr>
                <td><label>Email:</label></td>
                <td><input type="text" formControlName="email" placeholder="Enter email..."></td>
            </tr>
            <tr>
                <td><label>Designation:</label></td>
                <td><input type="text" formControlName="designation" placeholder="Enter designation..."></td>
            </tr>
        </table>

    
        <button class="button" mat-raised-button (click)="openDialog(detailsForm.value)" [disabled]="!detailsForm.valid">Enter login details</button>
        
    </form>
</section>

<!-- <app-footer></app-footer> -->