<app-header></app-header>
<div style="margin-top:70px"></div>
<div class="container">
    <div class="row ">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="testsDataSource" style="width: 100%;">

                    <ng-container matColumnDef="testId">
                        <th mat-header-cell *matHeaderCellDef> ID </th>
                        <td mat-cell *matCellDef="let element"> {{element.testId | slice:20:24}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="empName">
                        <!-- Name Column -->
                        <th mat-header-cell *matHeaderCellDef> Employee Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.empName}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="topicName">
                        <th mat-header-cell *matHeaderCellDef> Topic </th>
                        <td mat-cell *matCellDef="let element"> {{element.topicName }} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                        <td mat-cell *matCellDef="let element"><a [routerLink]="['/hr/result' , element.id ]" mat-raised-button color="primary"> Show result </a></td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="testsDataSourceColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: testsDataSourceColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons style="width: 100%;"></mat-paginator>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>