<app-header></app-header>

<div class="spacing-top"></div>

<div fxLayout="row" fxLayoutAlign="center center" class="login-main">
    <mat-card class="back ">
        <mat-card-header>
            <span class="text-center">
                    <mat-card-title >Login to Quizo</mat-card-title>
            </span>

        </mat-card-header>
        <span></span>
        <mat-card-content fxLayout="column" style="margin-top:2em;">
            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Username" name="username" [(ngModel)]="username" value='username'>
                <!-- <mat-hint>Enter your email from the mail</mat-hint> -->
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" name="password" [(ngModel)]="password" value='username'>
                <!-- <mat-hint>Enter Password</mat-hint> -->
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <div class="text-center">
                <button mat-raised-button color="primary" (click)=checkLogin() style="font-size: 15px;">Login</button>
                <mat-progress-spinner mode="indeterminate" diameter=20 style="display: inline-flex; margin-left: 20px;" *ngIf="isLoading"></mat-progress-spinner>
                <button mat-raised-button color="primary" (click)=forgotPassword() style="font-size: 15px;">Forgot Password</button>
            </div>

        </mat-card-actions>
    </mat-card>
</div>
<!-- <app-footer></app-footer> -->