.x{
  position: fixed;
  top: 0;
  height: 50px;
  z-index: 1000;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.spacing-l-20 {
    margin-left: 20px;
}

.v-center {
    vertical-align: -5px;
}

.spacer {
    flex: 1 1 auto;
}
