<mat-toolbar color=primary class="x">
    <button mat-icon-button (click)="cancel()"> <h4><i class="material-icons v-center ">keyboard_backspace</i>
       </h4>
    </button>
    <span routerLink="/" class="spacing-l-20"></span>
    <span class="spacer"></span>
    <div *ngIf='loggedInUser && !isLoginPage'>
        <span class="mr-2">
        {{loggedInUser}}
        </span>


        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>account_circle</mat-icon>
              <span (click)="gotoAccount()">View Account</span>
            </button>
            <button mat-menu-item *ngIf="loggedInUser" (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              <span>Logout</span>
            </button>
        </mat-menu>
    </div>
</mat-toolbar>