<app-header></app-header>
<div class="container">
    <div class="spacing-top"></div>
    <div class="text-center">
        <h1>Confirmation Screen</h1>
        <mat-progress-spinner class="text-center" mode="indeterminate" *ngIf="isLoading">
        </mat-progress-spinner>
    </div>
    <div class="text-center mt-5">
        <h3>SELECTED TEST : {{test.name}}</h3>
    </div>
    <div class="text-center mt-5">
        <h3>SELECTED Employees : {{employees.length}}</h3>
    </div>
    <div class="row">

        <div class="card col-md-3" *ngFor="let employee of employees">
            <div class="card-body">
                <h5 class="card-title text-uppercase">{{employee.name}}</h5>
                <ul>
                    <li style="font-size: 15px;">Email: {{employee.email}}</li>
                    <li style="font-size: 15px;">Phone: {{employee.phone}}</li>
                </ul>
                <!-- <a href="#" class="btn" style="background-color:#212121; text-decoration-color: white">Unselect</a> -->
                <button mat-raised-button color="primary" [routerLink]="['/hr/employees']" routerLinkActive="router-link-active" >Unselect</button>
            </div>
        </div>
    </div>
    <div class="spacing-top"></div>
    <div class="text-center mb-5">
        <button mat-raised-button color="primary" (click)="confirmMapping()">CONFIRM!</button>
        <button mat-raised-button color="primary" (click)="restart()">RESTART!</button>
    </div>
</div>
<app-footer></app-footer>