

.mat-display-1{
    align-self: center;
    margin-top: 50px;
    margin-left: 530px;
}
.x{
    
    margin-top: 50px;
    margin-left:530px;
}
#io{
    margin-top: 20px;  
}
.mat-list{
    margin-left: 20px;
}
.mat-raised-button{
        margin-left:600px;
    margin-top:20px;
}