<app-header></app-header>
<div class="container">
    <div class="spacing-top"></div>
    <div class="text-center">
        <h1>Confirmation Screen</h1>
        <mat-progress-spinner class="text-center" mode="indeterminate" *ngIf="isLoading">
        </mat-progress-spinner>
    </div>
    <div class="text-center mt-5">
        <h3>SELECTED TEST : {{test.name}}</h3>
    </div>
    <div class="text-center mt-5">
        <h3>SELECTED Employees : {{employees.length}}</h3>
    </div>
    <div class="row">

        <div class="card col-md-3" *ngFor="let employee of employees">
            <div class="card-body">
                <h5 class="card-title">{{employee.name}}</h5>
                <ul>
                    <li>Email: {{employee.email}}</li>
                    <li>Phone: {{employee.phone}}</li>
                </ul>
                <a href="#" class="btn btn-primary">Unselect</a>
            </div>
        </div>
    </div>
    <div class="spacing-top"></div>
    <div class="text-center mb-5">
        <button mat-raised-button color="accent" (click)="confirmMapping()">CONFIRM!</button>
        <button mat-raised-button color="accent" (click)="restart()">RESTART!</button>
    </div>
</div>
<app-footer></app-footer>