<app-header></app-header>
<div class="mt-5"> </div>
<div class="container">
    <div id="head" class="jumbotron mt-6" style="background-color: #E0E0E0; padding-top: 2rem; ">
        <h1 class="display-4" class="y">HR DASHBOARD</h1>
        <p class="lead">This is the main dashboard screen for creating tests, users and requests .</p>
        <hr class="my-4">
        <p class="m7">below is a overview of all the activities</p>
        <button mat-raised-button color="primary" routerLink='/hr/create'>Create A Test</button>
        <button mat-raised-button color="primary" class="ml-5" routerLink='/hr/create-user'>Create A User</button>
        <button class="x" mat-raised-button color="primary" class="ml-5" (click)='openDialog()'>Raise A Request</button>
        <button class="x" mat-raised-button color="primary" class="ml-5">View ongoing tests</button>
    </div>
    <div class=text-center>
        <h3>
            Existing Topics:
        </h3>
    </div>
    <div class="row ">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="topicDataSource" style="width: 100%;">

                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> ID </th>
                        <td mat-cell *matCellDef="let element"> {{element.id | slice:20:24}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <!-- Name Column -->
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="createdAt">
                        <th mat-header-cell *matHeaderCellDef> Creation Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.createdAt | slice:0:10}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="link">
                        <th mat-header-cell *matHeaderCellDef> Link </th>
                        <td mat-cell *matCellDef="let element"> {{element.link}} </td>
                    </ng-container>

                    <ng-container matColumnDef="keywords">
                        <th mat-header-cell *matHeaderCellDef> Keywords </th>
                        <td mat-cell *matCellDef="let element">no keywords found ...</td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="topicDisplayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: topicDisplayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons style="width: 100%;"></mat-paginator>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <!-- ------------------- -->
    <div class="mt-5 mb-5"></div>
    <div class="text-center">
        <h3>
            Available Users:
        </h3>
    </div>
    <div class="row ">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="employeeDataSource" style="width: 100%;">

                    <!-- Name Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> ID </th>
                        <td mat-cell *matCellDef="let element"> {{element.id | slice:20:24}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="phone">
                        <th mat-header-cell *matHeaderCellDef> Phone </th>
                        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef> Email </th>
                        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="employeeDisplayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: employeeDisplayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons style="width: 100%;"></mat-paginator>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="mt-5 mb-5"></div>
    <div class="text-center">
        <h3>
            Sent Request:
        </h3>
    </div>
    <div class="row ">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="requestDataSource" style="width: 100%;">


                    <!-- Name Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> ID </th>
                        <td mat-cell *matCellDef="let element"> {{element.id | slice:20:24}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="message">
                        <th mat-header-cell *matHeaderCellDef> Message </th>
                        <td mat-cell *matCellDef="let element"> {{element.message}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let element"> <span *ngIf="status==N">Not Completed</span><span *ngIf="status=='C'">Completed</span> </td>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let element"> <button mat-raised-button (click)="deleteRequest(element)">Delete</button> </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="requestDisplayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: requestDisplayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons style="width: 100%;"></mat-paginator>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
<div class="m-5"></div>
<app-footer></app-footer>